<div class="genre-index">
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col text-center">
        <h2>☺レッスンクラス追加☺︎</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-5 mt-3">
        <%= form_with model: @lesson_class, url: admin_lesson_classes_path, method: :post, local: true do |f| %>
          <%= f.label :name, "クラス名" %>
          <%= f.text_field :name %>
          <%= f.submit "新規登録", class: "btn btn-success", style: "background-color: #dc8ba7;" %>
        <% end %>
      </div>
    </div>
    <br>

    <div class="row justify-content-center">
      <div class="col-lg-5 mt-3">
        <div class="row">
          <div class="col text-center">
            <h2>☺︎レッスンクラス一覧☺︎</h2>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">クラス</th>
                <th class="text-center" colspan="1"></th>
              </tr>
            </thead>
            <tbody>
              <% @lesson_classes.each do |lessonclass| %>
                <tr>
                  <td class="text-center"><%= lessonclass.name %></td>
                  <td class="text-center"><%= link_to "編集する", edit_admin_lesson_class_path(lessonclass), class: "btn btn-success", style: "background-color: #FEE3EC;" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
