<div class="container">
  <div class="row">
  </div>

  <div class="row">
    <div class="col-sm-20 px-sm-0 mx-auto mb-5">
      <h2>☺︎商品詳細☺︎</h2>
      <% if @item.image.attached? %>
        <%= image_tag @item.image, style: "max-width: 700px;" %>
      <% else %>
        No image available
      <% end %>
      <div class="tag-box">
        <% @item.tags.each do |tag| %>
        <span class="label"><%= tag.name %></span>
        <% end %>
     </div>

      <table>
        <tr>
          <td>名前</td>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <td>価　格</td>
          <td class="align-middle"><%= number_to_currency(@item.price, unit: '¥', format: '%u%n', delimiter: ',') %></td>
        </tr>
        <tr>
          <th>レンタル</th>
          <td><%= @item.is_available ? 'レンタル可能' : 'レンタル停止中' %></td>
        </tr>
      </table>

      <div class="form-action">
        <%= link_to "編集", edit_admin_item_path(@item), class: "btn btn-outline-light", style: "background-color: #FEE3EC;" %>
        <%= link_to "一覧に戻る", admin_items_path, class: "btn btn-outline-light", style: "background-color: #FAF3F0;" %>
      </div>
    </div>
  </div>
</div>