<div class="plate mx-auto" id="cork">
  <div class="home-box mx-auto my-3 text-center">
    <div class="content-container container mx-auto">
      
      <!--<div class="genre_search"></div>-->
      <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
      
      <script>
        $(document).ready(function () {
          $('.slide-item').hide();
          $('.slide-item:first').show();

          setInterval(function () {
            var currentSlide = $('.slide-item:visible');
            var nextSlide = currentSlide.next('.slide-item');

            if (nextSlide.length === 0) {
              nextSlide = $('.slide-item:first');
            }

            currentSlide.fadeOut(500);
            nextSlide.fadeIn(500);
          }, 3000); // 3秒ごとにスライドを切り替え
        });
      </script>

      <div class="slide">
        <div class="slide-item">
          <%= image_tag "ballet1.jpg", class: "slide-img", width: "900", height: "600" %>
        </div>
        <div class="slide-item">
          <%= image_tag "ballet2.jpg", class: "slide-img", width: "900", height: "600" %>
        </div>
        <div class="slide-item">
          <%= image_tag "ballet3.jpg", class: "slide-img", width: "900", height: "600" %>
        </div>
        <div class="slide-item">
          <%= image_tag "ballet4.jpg", class: "slide-img", width: "900", height: "600" %>
        </div>
        <div class="slide-item">
          <%= image_tag "ballet5.jpg", class: "slide-img", width: "900", height: "600" %>
        </div>
      </div>
    </div>
    <h5 class="home-text">
      踊る楽しさ喜びを実感、 心も体も強く美しく成長するお手伝いをします。
    </h5>
    <br><br><br><br>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <%= link_to reserves_path, class: "btn btn-pink btn-lg mb-3" do %>
        体験予約
      <% end %>
    </div>
    <div class="col-md-4 text-center">
      <%= link_to about_path, class: "btn btn-pink btn-lg mb-3" do %>
        About
      <% end %>
    </div>
  </div>
</div>

<div class="text-center bg-pink rounded p-3 mb-4">
  <h3><strong>新着商品</strong></h3>
</div>

<% @items.each do |item| %>
  <li class="text-center slide-item2 d-inline-block"> 
    <%= link_to item_path(item) do %>
      <p class="caption mx-2"><%= image_tag item.image, format: 'jpeg', size: '300x300' %></p>
    <% end %>
    <p class="caption"><strong><%= item.name %></strong></p>
    <p class="caption">¥<%= item.price.to_s(:delimited) %></p>
  </li>
<% end %>

</ul>
</div>
<p class="text-center mt-5">
  <a href="<%= items_path %>" class="link">すべての商品を見る</a>
</p>
</div>
</div>
</div>

<!-- jQueryを読み込む -->
<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<script>
  $(document).ready(function () {
    // 商品画像にカーソルが当たったときの処理
    $(".slide-item2").hover(function () {
      $(this).addClass("enlarge"); // enlarge クラスを追加して画像を大きくする
    }, function () {
      $(this).removeClass("enlarge"); // enlarge クラスを削除して通常のサイズに戻す
    });
  });
</script>
<style>
  /* 商品画像を大きくするスタイル */
  .enlarge {
    transform: scale(1.2); /* 1.2倍のサイズに拡大 */
    transition: transform 0.3s ease; /* アニメーションの速さとタイミングを設定 */
    z-index: 1; /* 他の要素より前に表示 */
  }
</style>
