<% if @cart_items.blank? %>
  <div class="info d-flex align-items-center justify-content-center" style="height:600px">
    <h1>カート内に商品が存在していません</h1>
  </div>
<% else %>
  <div class="container">
    <div class="row py-3 px-5">
      <div class="text-start design">
        <h2 style="background-color:#D5B4B4">ショッピングカート</h2>
      </div>
      <div class="ml-auto">
        <%= link_to 'カートを空にする', clear_cart_items_path, method: :delete, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 text-start">
        <table class="table table-bordered table-secondary">
          <thead style="color: #FFF; font-weight: bold; background:#EAC7C7;">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
              <tr>
                <td>
                  <%= image_tag cart_item.item.get_item_image, size: "248x200" %>
                  <%= cart_item.item.name %>
                </td>
                <td><%= cart_item.item.taxin_price.to_s(:delimited) %>円</td>
                <td>
                  <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch do |f| %>
                    <%= f.hidden_field :customer_id, value: current_customer.id %>
                    <%= f.hidden_field :item_id, value: cart_item.item.id %>
                    <!-- 数量変更 -->
                    <%= f.select :quantity, (1..50).to_a, {} %>
                    <%= f.submit "変更" %>
                  <% end %>
                </td>
                <td><%= cart_item.subtotal.to_s(:delimited) %>円</td>
                <td>
                  <%= link_to '削除', cart_item_path(cart_item), method: :delete, class: "btn btn-secondary", data: { confirm: "本当に削除しますか？" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div><%= link_to '買い物を続ける', items_path , class: "btn btn-secondary" %></div>
        <table>
          <tbody>
            <tr>
              <table class="table ml-auto table-bordered col-3 table-secondary">
                <tbody>
                  <th style="font-weight: bold; background:#EAC7C7;">合計金額</th>
                  <td><%= @total_amount.to_s(:delimited) %>円</td>
                </tr>
              </tbody>
            </table>
          </tr>
        </tbody>
      </table>

      <div class="row py-3">
        <div class="col text-center">
          <div>
            <button class="btn btn-lg custom-button"><%= link_to '情報入力へ進む', new_order_path, class: "btn btn-secondary" %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>