<div class="container">
  <div class="row">
    <div class="text-center">
      <div class="image-container">
        <%= image_tag "lesson.jpg", size: "1200x600", class: "img-fluid mx-auto" %>
        <div class="reserve-image-overlay">
        ❤︎体験レッスンについて❤︎<br>
        体験レッスンに参加の際は、無料でレオタードをレンタル可能です。<br>
        レンタルされない方は動きやすい服装で参加お願いします。<br>
        もちろん見学のみの予約も可能ですよ♪<br>
        開始時間の１０分前にはお越しいただくようにお願いいたします。<br>
        お気軽に参加してくださいね♡<br>
        電話からの予約も可能です♪　TEL:092-xxx-xxx</strong><br>
        </div>
      </div>
<% if @reserve.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@reserve.errors.count, "error") %> prohibited this reserve from being saved:</h2>
    <ul>
      <% @reserve.errors.full_messages.each do |message| %>
        <%= message %><br>
      <% end %>
    </ul>
  </div>
<% end %>
 <div class = "col text-center">
      <h3 class = "col-4 text-center">体験レッスン予約☺︎</h3>
      
      <div "col-4 text-center">全てのフォームにご入力後、ご送信をお願いします。</div>
      <br>
     <%= form_with model: @reserve do |f| %>
      <table class = "table table-borderless">
        <tr class = "row">
          <td class = "col-3">名前</td>
          <td class = "col-1 text-right"></td>
          <td class = "col-2 text-left"><%= f.text_field :last_name, placeholder:"水田", autofocus: true, autocomplete: "氏名", class: "text-custom-color" %></td>
          <td class = "col-1 text-right"></td>
          <td class = "col-3 text-left"><%= f.text_field :first_name, placeholder:"まり", autofocus: true, autocomplete: "氏名" %></td>
        </tr>
        <tr class = "row">
          <td class = "col-3">フリガナ</td>
          <td class = "col-1 text-right"></td>
          <td class = "col-2 text-left"><%= f.text_field :last_kana_name, placeholder:"ミズタ",  autofocus: true, autocomplete: "フリガナ" %></td>
          <td class = "col-1 text-right"></td>
          <td class = "col-3 text-left"><%= f.text_field :first_kana_name, placeholder:"マリ", autofocus: true, autocomplete: "フリガナ" %></td>
        </tr>
        <tr class="row">
          <td class = "col-3"><%= f.label :希望クラス %></td>
          <td class = "col-1 text-right"></td>
          <td class = "col-2 text-left"><%= f.collection_select :lesson_class_id, LessonClass.all, :id, :name, prompt: "--選択してください--" %></td>
          <td></td>
          <td></td>
          </tr>
          <tr class="row">
            <td class="col-3"><%= f.label :体験者様の年齢 %></td>
            <td class="col-1 text-right"></td>
            <td class="col-2 text-left">
            <%= f.collection_select :age, 3..100, :to_s, :to_s, { prompt: "--選択してください--" }, { autofocus: true, autocomplete: "年齢" } %> </td>
            <td></td>
            <td></td>
          </tr>
        <tr class = "row">
          <td class = "col-3"><%= f.label :住所 %></td>
          <td class = "col-1 text-right"></td>
          <td class = "col-2 text-left"><%= f.text_field :address, placeholder:"福岡県", autofocus: true, autocomplete: "住所", :size => "53", class: "text-pink" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr class = "row">
          <td class = "col-3"><%= f.label :電話番号（ハイフンなし） %></td>
          <td class = "col-1 text-right"></td>
          <td class = "col-2 text-left"><%= f.text_field :phone_number, placeholder:"1111111", autofocus: true, autocomplete: "電話番号" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr class = "row">
          <td class = "col-3"><%= f.label :メールアドレス %></td>
          <td class = "col-1 text-right"></td>
          <td class = "col-2 text-left"><%= f.email_field :email, placeholder:"example@com", autofocus: true, autocomplete: "email" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="row">
          <td class="col-3"><%= f.label :希望日 %></td>
          <td class="col-1 text-right"></td>
          <td class="col-2 text-left">
            
                    <%= f.date_field :reservation_date, placeholder:"please inpute date", autofocus: true %>
         </td>
         <td></td>
         <td></td>
        </tr>
        <tr class="row">
          <td class="col-3"></td>
          <td class="col-1 text-right"></td>
          <div class="form-action">
          <td><%= f.submit "体験予約", class: "btn btn-success", style: "background-color: #dc8ba7;" %></td></div>
         <td></td>
         <td></td>
          </tr>
        <% end %>
      </table>
  </div>
<p class="text-center"><%= link_to "TOPページに戻る", root_path %></p>
    </div>
  </div>
</div>
