<div class="container">
  <div class="row">
   <div class="col-md-3">
     <div class="genre-list">
  <%= render 'genre_search', genres: @genres %>
</div>
</div>
    <div class="col-md-9">
      <h2 class="text-center bg-pink rounded p-3 mb-4">商品一覧♡全<%= Item.count %>件</h2>
      <div class="row" style="text-align: center;">
        <% @items.each do |item| %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.get_item_image, class: "card-img-top", alt: item.name %>
                <div class="card-body">
                  <h5 class="card-title"><%= item.name %></h5>
                  <p class="card-text"><%= number_to_currency(item.price) %></p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="all-items-show-button d-flex justify-content-center">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>

<script>
  // 商品画像にカーソルが当たったときの処理
$(".card:not(.exclude-js)").hover(function () {
  $(this).find("img").addClass("enlarge"); // enlarge クラスを追加して画像を大きくする
}, function () {
  $(this).find("img").removeClass("enlarge"); // enlarge クラスを削除して通常のサイズに戻す
});

</script>