<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="genre-list">
        <%= render 'genre_search', genres: @genres %>
      </div>
    </div>

    <!-- 商品詳細表示 -->
    <div class="text-center col-md-8">
      <% if @item.image.attached? %>
        <%= image_tag @item.image, style: "width: 600px;" %>
      <% else %>
        No image available
      <% end %>
      
      <!-- 商品情報を表示 -->
      <div class=" mb-3">
        <div class="body">
          <h2 class="title"><strong><%= @item.name %></strong></h2>
          <p class="text"><%= @item.introduction %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          
          <!-- ジャンル -->
            <div class="body">
              <h5 class="ctitle">ジャンル</h5>
              <p class="text"><%= @item.genre.name %></p>
            </div>
        </div>
        <div class="col-md-4">
          <!-- 価格 -->
            <div class="body">
              <h5 class="title">価格</h5>
              <p class="text"><%= @item.price %>円</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
      </div>
      
      <div class="col-md-4">
        <% if @item.is_available == true %>
          <%= form_with(model: @cart_item, url: cart_items_path, method: :post, local: true) do |f| %>
            <%= f.label :quantity, "数量選択" %>
            <%= f.select :quantity, [1, 2, 3, 4, 5, 6] %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.submit "カートに入れる", class: "btn btn-secondary", style: "background-color: #dc8ba7;" %>
          <% end %>
        <% end %>
      </div>

      <div class="form-action mt-3">
        <%= link_to "Back", items_path, class: "btn btn-secondary", style: "background-color: #dc8ba7;" %>
      </div>
    </div>
  </div>
</div>
