<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
    <title>MarieBalletSchool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/7ea106af3e.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>
  

  <body class="min-vh-100">
  <header>
  <%= render "layouts/header" %>
  </header>
  <main class="min-vw-100">
    <%= yield %>
  </main>
  </div>
  <br><br><br><br><br>
  <footer>
    <%= render "layouts/footer" %>
  </footer>
</body>
</html>